.main div{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

}
h1 {
  color: #092768aa;
}
iframe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 30px;
  width: 30em;
  height: 20em;
  
}
#instructions{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: large;
  color: rgb(255, 255, 255);
  width: 30em;
  height: fit-content;
  font-family: 'Courier New', Courier, monospace;
  margin: .5em;
  background-color: rgba(0, 0, 0, 0.516);
  padding: .3em;
  border-style: solid; 
  border-radius: 10px;
  border-color: #092768;
  border-width: .07em; 
}

#instructions div{
margin: .5em;
background-color: rgba(0, 0, 0, 0.516);
padding: .3em;
border-style: solid; 
border-radius: 7px;
border-color: #092768;
border-width: .07em; 
font-weight: 700;
}
#top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

@media only screen and (min-width:100px) and (max-width:415px) {
  iframe {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-self: center;
    align-content: center;
    width: 15em;
    height: 10em;
  }
}

@media only screen and (min-width:416px)and (max-width:767px){
  iframe {
    width: fit-content;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

