.headerGoal {
    font-size: xxx-large;
    color: #092768aa;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
ul {
    list-style: none;
    display: flex;

}
#goalul {
    margin-right:2em;
}
.goalsList div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: auto;
    list-style: none;
    width:30em;
}

#goalss {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 15px;
    border-width: .7em;
    border-style: none;
    padding: 15px;
    font-size:large;
    overflow: scroll;
    height: 35em;
    font-family:'Courier New', Courier, monospace;
}
button{
    font-size: xx-large;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(74, 12, 155, 0.753);

}

#goal div {
    color: rgb(0, 0, 0);
}

#db {
    color: rgb(0, 0, 0);
    font-size: large;
}


@media only screen and (min-width:100px) and (max-width:415px) {

}

@media only screen and (min-width:416px)and (max-width:767px){

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {

}